
#Local
CLIENT_URL=http://localhost
VITE_SOCKET_URL=

#Production
CLIENT_URL=https://scribble.adelinflavius.me
# only needed if the socket server is on a different origin than the client (e.g. in development). In production, Caddy will proxy `/socket.io` to the backend, so the client can talk to the same origin.
VITE_SOCKET_URL=